<h1>Home</h1>
<form [formGroup]="form">
    <abi-form-input 
        formControlName="name" 
        label="Your name" 
        [control]="form.get('name')">
    </abi-form-input>

    <label for="name">пол</label>
    <select name="gender" id="gender" formControlName="gender">
        <option value="m">Male</option>
        <option value="f">Female</option>
        <option value="md">Middle</option>
    </select>
    <br/>
    <abi-form-input 
        formControlName="she" 
        label="She" 
        [control]="form.get('she')">
    </abi-form-input>

    <button type="submit" (click)="onSubmit()">отправить</button>
</form>